{% extends 'base.html' %}

{% block title %}Login App{% endblock %}

{% block content %}

<h1 class="display-3">I DECREE...</h1>
<p class ="lead">Deep hidden sparkling thoughts</p>
<form method="POST">

    {{ form.hidden_tag() }}

    {% for field in form
    if field.widget.input_type != 'hidden' %}

    <p>
	{{ field.label }}
	{{ field(class_="form-control") }}

	{% for error in field.errors %}
	<span class="form-text text-danger">{{error}}</span>
	{% endfor %}
	
    </p>

    {% endfor %}
    <button class="btn btn-success" type="submit">Winged Words</button>
    
</form>

<div>
    {% for proc in all %}

    {% if session['username'] == porc.username %}
    <div class="card my-4">
	<div class="card-body">
    	    <h5 class="card-title text-info">{{proc.user.username}}</h5>
	    <h6 class="card-subtitle mb-2 text-muted"></h6>
	    <p class="card-text">{{proc.text}}</p>
	</div>
    </div>
    {% endif %}
    {% endfor %}
</div>

{% endblock %}
